<form class="mb-5" [formGroup]="hotelForm"  (ngSubmit)="saveHotel()">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre"  type="text" />
  </div>
  <div>
    <label for="direccion">Dirección:</label>
    <input id="direccion" formControlName="direccion" type="text">
  </div>
  <div>
    <label for="ciudad">Ciudad:</label>
    <input id="ciudad" formControlName="ciudad"  type="text">
  </div>
  <div>
    <label for="pais">País:</label>
    <input id="pais" formControlName="pais"  type="text">
  </div>
  <div>
    <label for="telefono">Teléfono:</label>
    <input id="telefono" formControlName="telefono" type="text">
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
  </div>
  <div>
    <label for="clasificacion">Clasificación:</label>
    <input id="clasificacion" formControlName="clasificacion" type="text">
  </div>
  <div formArrayName="servicios" *ngIf="services.length > 0; else noServicios">
    <label>Servicios:</label>
    <div *ngFor="let servicio of services" class="form-check">
      <input type="checkbox" class="form-check-input" id="servicio{{ servicio.id }}" (change)="actualizarServicios({ id: servicio.id, nombre: servicio.nombre })">
      <label class="form-check-label" for="servicio{{ servicio.id }}">
        {{ servicio.nombre }}
      </label>
    </div>
  </div>
  <ng-template #noServicios>
    <p>No hay hoteles disponibles.</p>
  </ng-template>

  <!-- <div formArrayName="servicios">
    <label>Servicios:</label>
    <div *ngFor="let control of servicios.controls; let i = index" class="form-check">
      <input type="checkbox" [formControlName]="i" class="form-check-input" id="servicio{{ i }}">
      <label class="form-check-label" for="servicio{{ i }}">
        {{ serviciosDisponibles[i].nombre }}
      </label>
    </div>
  </div> -->
  <!-- servicios -->
  <!-- <div formArrayName="servicios">
    <label>Servicios:</label>
    <div *ngFor="let servicio of servicios.controls; let i = index">
      <input [formControlName]="i" type="text">
      <button type="button" (click)="removeServicio(i)">Eliminar</button>
    </div>
    <button type="button" (click)="addServicio()">Agregar Servicio</button>
  </div> -->
  <div>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>
  </div>
  <div>
    <label for="fecha_apertura">Fecha de Apertura:</label>
    <input id="fecha_apertura" formControlName="fecha_apertura" type="date">
  </div>
  <div>
    <label for="pagina_web">Página Web:</label>
    <input id="pagina_web" formControlName="pagina_web" type="url">
  </div>
  <!-- <input type="file" (change)="onFileSelected($event)" multiple>

  <div *ngIf="selectedImages.length > 0" class="preview-image">
    <img *ngFor="let image of selectedImages" [src]="getImageSrc(image)" alt="Vista previa de la imagen">
  </div> -->

  <div>
    <label for="activo">Activo:</label>
    <input id="activo" formControlName="activo" type="number">
  </div>
  <button type="submit" [disabled]="hotelForm.invalid">Enviar</button>
</form>